<!DOCTYPE html>
<html>
<head>
        <title>Python Starter Application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
        <table align="center" item-width="100%">
                <tr>
                        <td>New User Registeration
                <br><br><br><br><br><br><br><br><br><br><br><br>

                                <form action="/new_user_register" method="POST" >
                                        Login ID:
                                        <input type="text" name="username" maxlength="15" minlength="4"/><br><br><br>
                                        Password:
                                        <input type="password" name="pass" maxlength="15" minlength="4"/><br><br>
                    Email:
                                        <input type="text" name="email" maxlength="50" minlength="6"/><br><br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="button button-block"/>LOGIN</button>
                                </form>
                        </td>
                </tr>
        </table>
</body>
</html>